/* Tailwind CSS Base Styles */
@import "tailwindcss";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--font-primary);
   color: var(--text-primary);
   scroll-behavior: smooth;
}
::-webkit-scrollbar {
   display: none;
}
.bg-glass {
   backdrop-filter: blur(40px);
   border-color: oklch(55.1% 0.027 264.364);
   border-radius: 0.5rem;
}

.app {
   min-width: 100vw;
   min-height: 100vh;
   background: url("../assets/bgImage.svg") no-repeat center center fixed;
   background-size: cover;
   overflow: hidden;
}
