@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
   --primary-color: #f39228;
   --gray-500: #667085;
   --gray-700: #344054;
   --red-500: #f04438;
   --red-300: #fda29b;
   --red-25: #fffbfa;
   --red-50: #fef3f2;
   --warning-25: #fffcf5;
   --warning-50: #fffaeb;
   --info-25: #e9f5f8;
   --font-primary: "Inter", system-ui;
   --font-secondary: "Poppins", sans-serif;
   --green-25: #f3fff9;
   --text-primary: #ffffff;
   --text-secondary: #BDBDBD;
}
