.main-layout {
   display: flex;
   height: 100vh;
   overflow: hidden;
}
.main-layout__sidebar {
   min-width: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
   border-right: 1px solid #4b5563;
}
.main-layout__chat-container {
   flex: 1;
   overflow-y: scroll;
}
